.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    font-size: 24px;
    font-weight: 700;
    color: #ff6347;
    margin: 0;
}
.navbar .profile{
    width: 40px;
}
.login-conditon{
    font-size: 20px;
}